USE [master]
GO
/****** Object:  Database [DBTravel]    Script Date: 17.12.2024 21:51:45 ******/
CREATE DATABASE [DBTravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTravel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBTravel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBTravel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBTravel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTravel]
GO
/****** Object:  Table [dbo].[Tbl_Driver]    Script Date: 17.12.2024 21:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Driver](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DriverNumber] [char](4) NULL,
	[FullName] [varchar](50) NULL,
	[Phone] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Passengers]    Script Date: 17.12.2024 21:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Passengers](
	[Number] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Surname] [varchar](30) NULL,
	[ID] [char](11) NULL,
	[Phone] [varchar](15) NULL,
	[Gender] [bit] NULL,
	[Mail] [varchar](50) NULL,
	[Password] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ticket]    Script Date: 17.12.2024 21:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ticket](
	[TravelNo] [int] IDENTITY(1,1) NOT NULL,
	[Departure] [varchar](20) NULL,
	[Arrival] [varchar](20) NULL,
	[Date] [char](10) NULL,
	[Time] [char](5) NULL,
	[Driver] [char](4) NULL,
	[Price] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Travel]    Script Date: 17.12.2024 21:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Travel](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TravelNo] [int] NULL,
	[PassengerID] [char](11) NULL,
	[Seat] [varchar](2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
